{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-react-constant-elements",
    ["module:fast-async", { "spec": true }],
    ["@babel/plugin-transform-react-jsx", { "pragma": "h", "pragmaFrag": "Fragment" }]
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current",
        "esmodules": true,
        "browsers": "last 2 version, > 1%, not dead"
      },
      "exclude": ["@babel/plugin-proposal-async-generator-functions"]
    }]
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
